In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    "Fund": ["M1","M2","M3","M4","M5","M6","M7","M8"],
    "P1": [0.84,0.91,0.79,0.78,0.94,0.88,0.66,0.93],
    "P2": [0.71,0.83,0.62,0.61,0.88,0.77,0.44,0.86],
    "P3": [6.7,7.0,4.8,6.4,3.6,6.5,5.3,3.4],
    "P4": [42.1,31.7,46.7,42.4,62.2,51.5,48.9,37.0],
    "P5": [12.59,10.11,13.23,12.55,16.91,14.91,13.83,10.55]
}

df = pd.DataFrame(data)
df

  Fund    P1    P2   P3    P4     P5
0   M1  0.84  0.71  6.7  42.1  12.59
1   M2  0.91  0.83  7.0  31.7  10.11
2   M3  0.79  0.62  4.8  46.7  13.23
3   M4  0.78  0.61  6.4  42.4  12.55
4   M5  0.94  0.88  3.6  62.2  16.91
5   M6  0.88  0.77  6.5  51.5  14.91
6   M7  0.66  0.44  5.3  48.9  13.83
7   M8  0.93  0.86  3.4  37.0  10.55

In [3]:
criteria = ["P1","P2","P3","P4","P5"]

norm_df = df.copy()
norm_df[criteria] = df[criteria] / np.sqrt((df[criteria]**2).sum())

norm_df

  Fund        P1        P2        P3        P4        P5
0   M1  0.351077  0.344401  0.421434  0.322539  0.335992
1   M2  0.380334  0.402609  0.440304  0.242862  0.269808
2   M3  0.330180  0.300744  0.301923  0.357781  0.353072
3   M4  0.326000  0.295893  0.402563  0.324837  0.334925
4   M5  0.392872  0.426863  0.226442  0.476530  0.451281
5   M6  0.367795  0.373505  0.408854  0.394555  0.397907
6   M7  0.275847  0.213431  0.333373  0.374636  0.369084
7   M8  0.388693  0.417161  0.213862  0.283467  0.281550

In [4]:
weights = np.array([0.2, 0.2, 0.2, 0.2, 0.2])

In [5]:
weighted_df = norm_df.copy()
weighted_df[criteria] = norm_df[criteria] * weights

weighted_df

  Fund        P1        P2        P3        P4        P5
0   M1  0.070215  0.068880  0.084287  0.064508  0.067198
1   M2  0.076067  0.080522  0.088061  0.048572  0.053962
2   M3  0.066036  0.060149  0.060385  0.071556  0.070614
3   M4  0.065200  0.059179  0.080513  0.064967  0.066985
4   M5  0.078574  0.085373  0.045288  0.095306  0.090256
5   M6  0.073559  0.074701  0.081771  0.078911  0.079581
6   M7  0.055169  0.042686  0.066675  0.074927  0.073817
7   M8  0.077739  0.083432  0.042772  0.056693  0.056310

In [6]:
ideal_best = weighted_df[criteria].max()
ideal_worst = weighted_df[criteria].min()

ideal_best, ideal_worst

(P1    0.078574
 P2    0.085373
 P3    0.088061
 P4    0.095306
 P5    0.090256
 dtype: float64,
 P1    0.055169
 P2    0.042686
 P3    0.042772
 P4    0.048572
 P5    0.053962
 dtype: float64)

In [7]:
weighted_df["D+"] = np.sqrt(((weighted_df[criteria] - ideal_best) ** 2).sum(axis=1))
weighted_df["D-"] = np.sqrt(((weighted_df[criteria] - ideal_worst) ** 2).sum(axis=1))

weighted_df

  Fund        P1        P2        P3        P4        P5        D+        D-
0   M1  0.070215  0.068880  0.084287  0.064508  0.067198  0.042852  0.055363
1   M2  0.076067  0.080522  0.088061  0.048572  0.053962  0.059424  0.062604
2   M3  0.066036  0.060149  0.060385  0.071556  0.070614  0.050093  0.039227
3   M4  0.065200  0.059179  0.080513  0.064967  0.066985  0.048826  0.047280
4   M5  0.078574  0.085373  0.045288  0.095306  0.090256  0.042772  0.076665
5   M6  0.073559  0.074701  0.081771  0.078911  0.079581  0.023693  0.066789
6   M7  0.055169  0.042686  0.066675  0.074927  0.073817  0.059269  0.040745
7   M8  0.077739  0.083432  0.042772  0.056693  0.056310  0.068548  0.047340

In [8]:
weighted_df["TOPSIS_Score"] = weighted_df["D-"] / (weighted_df["D+"] + weighted_df["D-"])
weighted_df["Rank"] = weighted_df["TOPSIS_Score"].rank(ascending=False)

weighted_df.sort_values("Rank")

,Fund,P1,P2,P3,P4,P5,D+,D-,TOPSIS_Score,Rank
5,M6,0.073559,0.074701,0.081771,0.078911,0.079581,0.023693,0.066789,0.738148,1.0
4,M5,0.078574,0.085373,0.045288,0.095306,0.090256,0.042772,0.076665,0.641886,2.0
0,M1,0.070215,0.068880,0.084287,0.064508,0.067198,0.042852,0.055363,0.563692,3.0
1,M2,0.076067,0.080522,0.088061,0.048572,0.053962,0.059424,0.062604,0.513032,4.0
3,M4,0.065200,0.059179,0.080513,0.064967,0.066985,0.048826,0.047280,0.491956,5.0
2,M3,0.066036,0.060149,0.060385,0.071556,0.070614,0.050093,0.039227,0.439177,6.0
7,M8,0.077739,0.083432,0.042772,0.056693,0.056310,0.068548,0.047340,0.408499,7.0
6,M7,0.055169,0.042686,0.066675,0.074927,0.073817,0.059269,0.040745,0.407390,8.0

In [9]:
final_result = weighted_df.sort_values("Rank")
final_result.to_csv("TOPSIS_Fund_Ranking.csv", index=False)